.list {
    background-color: #fff;
}

.list__header {
    display: flex;
    border-bottom: 2px solid #ddd;
    padding: 15px;
    margin: 0;
    padding-left: 30px;
}

@media (max-width: 768px) {
    .list__header {
        flex-wrap: wrap;
    }
}

.list__content {
    min-height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.list__item {
    display: flex;
    margin: 10px 0;
    margin-right: 30px;
    list-style: none;
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
    align-items: center;
}

.list__itemText {
    word-break: break-all;
    margin-right: 15px;
}

.list__item--hidden {
    display: none;
}

.list__item--finished {
    text-decoration: line-through;
}