.list {
    background-color: #fff;
}

.list__header {
    display: flex;
    border-bottom: 2px solid #ddd;
    margin: 0;
    padding-left: 30px;
}

@media (max-width: 768px) {
    .list__header {
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 0px;
    }
}

.list__subheader {
    flex-grow: 1;
    flex-basis: 100%;
}

@media (max-width: 768px) {
    .list__subheader {
        text-align: center;
        margin-bottom: 0;
    }
}

.list__buttons {
    display: flex;
    flex-basis: 100%;
    margin-right: 20px;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .list__buttons {
        justify-content: center;
        text-align: center;
        margin-top: 0;
        margin-bottom: 10px;
        margin-right: 0px;
    }
}

.list__content {
    min-height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.list__item {
    display: flex;
    margin: 10px 0;
    margin-right: 30px;
    list-style: none;
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
    align-items: center;
}

.list__itemText {
    word-break: break-all;
    margin-right: 15px;
}

.list__item--hidden {
    display: none;
}

.list__item--finished {
    text-decoration: line-through;
}

.list__itemButton {
    width: 30px;
    height: 30px;
    border: none;
    color: white;
    flex-shrink: 0;
}

.list__itemButton:active {
    border: 2px solid black;
}

.list__itemButton--finish {
    background-color: #1a7b1e;
    margin-right: 20px;
    transition: 0.3s;
}

.list__itemButton--finish:hover {
    background-color: #1a7b1dc5;
}

.list__itemButton--delete {
    background-color: #ed293a;
    margin-left: auto;
    transition: 0.3s;
}

.list__itemButton--delete:hover {
    background-color: #ed2939c5;
}