html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: #ededed;
    font-family: 'Lato', sans-serif;
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    padding: 20px;
}

.container {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 15px;
}

.section {
    background-color: #fff;
}

.section__header {
    border-bottom: 2px solid #ddd;
    padding: 15px;
    margin: 0;
    padding-left: 30px;
}

.list {
    background-color: #fff;
}

.list__header {
    border-bottom: 2px solid #ddd;
    padding: 15px;
    margin: 0;
    padding-left: 30px;
}

.list__content {
    min-height: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.list__item {
    display: flex;
    margin: 10px 0;
    margin-right: 30px;
    list-style: none;
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
    align-items: center;
}

.list__itemText {
    word-break: break-all;
    margin-right: 15px;
}

.form {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}

@media (max-width: 550px) {
    .form {
        padding: 10px;
    }
}

.form__input {
    padding: 8px;
    margin-right: 20px;
    margin-left: 10px;
    flex-grow: 10;
    border-radius: 0;
    border: 1px solid #e7e7e7;
    font-size: 18px;
}

@media (max-width: 550px) {
    .form__input {
        margin: 0px;
        padding: 11px;
        flex-grow: 1;
        border-radius: 0;
        border: 2px solid #e7e7e7;
        max-width: 100%;
    }
}

.form__button {
    border: none;
    background-color: #007382;
    color: white;
    font-size: 18px;
    padding: 8px;
    margin-left: 10px;
}

@media (max-width: 550px) {
    .form__button {
        flex-grow: 1;
        margin-top: 20px;
        margin-left: 0px;
        flex-basis: 200px;
    }
}

.taskFinished {
    text-decoration: line-through;
}

.finishButton {
    width: 30px;
    height: 30px;
    border: none;
    background-color: #1a7b1e;
    color: white;
    margin-right: 20px;
    flex-shrink: 0;
}

.deleteButton {
    width: 30px;
    height: 30px;
    border: none;
    background-color: #ed293a;
    color: white;
    margin-left: auto;
    flex-shrink: 0;
}